ol {
    list-style-type: none;
    list-style-position: inside;
    background-color: rgb(150, 148, 148);
    color: white;
    margin-right: 1500px;
    padding: 30px;
}

a {
    text-decoration: none;
    
    
}

li {
    padding-bottom: 2px;
    list-style-position: inside;
    
}

span {
    color: white;
    /* background-color: yellow; */
    /* float: right; */
    /* padding: 0 0 2px 0; */
    line-height: 100px;
    margin-top: -50px;

}

.pencil {
    list-style-image: url(img/edit.png);

}

.heart {
    list-style-image: url(img/heart.png);
}

.clock {
    list-style-image: url(img/clock.png);
}

.shield {
    list-style-image: url(img/shield.png);
}

.switch {
    list-style-image: url(img/switch.png);
}